body{
	font-family: Segoe UI;
	font-size: 14px;
	color: #000000
}

header{
	background-color: #F79F2C;
	padding: 20px 0px;
}

#titulo{
	background-color: #F79F2C;
	text-align: center;
	color: rgba(252,251,251,1.00);
	padding: 20px 20px 50px 20px;
}

#titulo h1{
	font-size: 60px;
}

#acercademi{
	text-align: center;
	padding: 30px 0px;
}

#acercademi h2{
	font-size: 40px;
	padding-bottom: 40px;
	
}

#acercademi h3{
	font-size: 30px;
}

#acercademi p{
	font-size: 18px;
}


#servicios{
	text-align: center;
}
